

<div id="wizard">    
    <h3>Additional Information</h3>
    <section>
    </section>

    <h3>Mappings</h3>
    <section>
    </section>
</div>

<script>
    $(document).ready(function () {
        $("#wizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });
    });
</script>